# GEMINI_API_KEY: Required for Gemini AI API calls.
# AI Studio automatically injects this at runtime from user secrets.
# Users configure this via the Secrets panel in the AI Studio UI.
GEMINI_API_KEY="AIzaSyCCyCMPVX1-5QTCriM4rbs-uUV_c1pxGeE"

# APP_URL: The URL where this applet is hosted.
# AI Studio automatically injects this at runtime with the Cloud Run service URL.
# Used for self-referential links, OAuth callbacks, and API endpoints.
APP_URL="https://vyapari.netlify.app/"
# Razorpay Keys
RAZORPAY_KEY_ID= rzp_live_SapL9Fer8lxPyS
RAZORPAY_KEY_SECRET= LIYy3XYMLTZMalvszRaYi5pw
VITE_RAZORPAY_KEY_ID= rzp_live_SapL9Fer8lxPyS
